.container{
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;    
}

.card-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}

.container button{
    background-color: #0275d8;
    color: white;
    font-weight: bold;
    position: fixed;
    bottom: 16px;
    right: 24px;
    transition: all linear 0.5s;
}

.container button:hover{
    transform: scale(1.08);
}